<div class="row">
    <div class="col-12 text-center">
        <img width="50%" th:src="${dish.file.fileDownloadUrl}" alt="" style="object-fit: cover">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>Dish Name Th : <span class="font-color-rtfis" th:text="${dish.dishNameTh}"></span></p>
    </div>
    <div class="col-md-6">
        <p>Dish Name En : <span class="font-color-rtfis" th:text="${dish.dishNameEn}"></span></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>Dish Type Th : <span class="font-color-rtfis" th:text="${dish.dishType.dishTypeNameTh}"></span></p>
    </div>
    <div class="col-md-6">
        <p>Dish Type En : <span class="font-color-rtfis" th:text="${dish.dishType.dishTypeNameEn}"></span></p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>Dish Description Th : <span class="font-color-rtfis" th:text="${dish.dishDescriptionTh}"></span></p>
    </div>
    <div class="col-md-6">
        <p>Dish Description En : <span class="font-color-rtfis" th:text="${dish.dishDescriptionEn}"></span></p>
    </div>
</div>
<hr>
<div class="row text-center">
    <h1 class="col-12 font-logo">Cook</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <p>Cook Formula Name : <span class="font-color-rtfis" th:text="${dish.cooks.get(0).cookFormulaName}"></span></p>
    </div>
    <div class="col-md-6">
        <p>Cook Detail : <span class="font-color-rtfis" th:text="${dish.cooks.get(0).cookDetail}"></span></p>
    </div>
</div>
<hr>
<div class="row text-center">
    <h1 class="col-12 font-logo">Ingredients</h1>
</div>
<div class="row">
    <ul class="list-group pl-2 col-12" th:each="ingredient : ${dish.cooks.get(0).cookIngredient}">
        <li class="list-group-item border-0 p-0 bg-transparent">
            <p><img th:src="${ingredient.ingredient.file.fileDownloadUrl}" class="rounded-circle mr-2" width="50"
                    height="50" style="object-fit: cover">
                <span th:text="${ingredient.ingredient.ingredientNameTh}"></span> /
                <span th:text="${ingredient.ingredient.ingredientNameEn}"></span> :
                <span class="font-color-rtfis" th:text="${ingredient.cookIngredientAmount}"></span>
                <span th:text="${ingredient.unit.unitNameTh}"></span> /
                <span th:text="${ingredient.unit.unitNameEn}"></span>
            </p>

            <ul class="list-group pl-5" th:each="nutrition : ${ingredient.ingredient.nutritions}">
                <li class="list-group-item border-0 p-0 bg-transparent">
                    <p><img th:src="${nutrition.file.fileDownloadUrl}" class="rounded-circle mr-2"
                            width="25"
                            height="25" style="object-fit: cover">
                        <span th:text="${nutrition.nutritionNameTh}"></span> /
                        <span th:text="${nutrition.nutritionNameEn}"></span>
                    </p>
                </li>
            </ul>
        </li>
    </ul>
</div>