<form accept-charset="UTF-8" enctype="multipart/form-data">
    <hr class="modal_action_line">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="add-dish-name-th">Dish Name Th</label>
            <input id="add-dish-name-th" type="text" class="form-control" placeholder="Dish Name Th" name="dishNameTh">
        </div>
        <div class="form-group col-md-6">
            <label for="add-dish-name-en">Dish Name En</label>
            <input id="add-dish-name-en" type="text" class="form-control" placeholder="Dish Name En" name="dishNameEn"
                   required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="add-dish-type">Dish Type</label>
            <select class="form-control" id="add-dish-type" name="dishTypeId" title="Dish Type">
                <option> Please Select</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="add-dish-pic">Pictures</label>
        <input id="add-dish-pic" class="dish-pic" type="file" name="dishPic" required>
        <input type="hidden" name="fileGroup" value="pic-dish">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="add-dish-description-th">Dish Description Th</label>
            <textarea id="add-dish-description-th" placeholder="Dish Description Th" rows="10" class="form-control"
                      name="dishDescriptionTh"></textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="add-dish-description-en">Dish Description En</label>
            <textarea id="add-dish-description-en" placeholder="Dish Description En" rows="10" class="form-control"
                      name="dishDescriptionEn"></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="cook-formula-name">Cook Formula Name</label>
            <input id="cook-formula-name" type="text" class="form-control"
                   placeholder="Cook Formula Name" name="cookFormulaName" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <table id="data_table" class="table">
                <thead class="text-white">
                <tr class="text-center">
                    <th width="50%">Ingredient</th>
                    <th width="10%">Amount</th>
                    <th width="15%">Unit</th>
                    <th width="10%">Is Main</th>
                    <th width="15%">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><select class="form-control-lg ingredient_select" id="ingredient_select">
                        <option> Please Select</option>
                    </select></td>
                    <td><input type="text" class="form-control" id="ingredient_amount_input"></td>
                    <td>
                        <select class="form-control unit_select" id="ingredient_unit_select">
                            <option> Please Select</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control is_main_flag" id="is_main_flag_select">
                            <option value="N">N</option>
                            <option selected value="Y">Y</option>
                        </select>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-success" onclick="addDishIngredientAddRow();"><i
                                class="fa fa-plus"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="cook-details">Cook Detail</label>
            <textarea id="cook-details" type="text" class="form-control"
                      placeholder="Cook Detail" name="cookDetail" rows="10" required></textarea>
        </div>
    </div>
    <hr class="modal_action_line">
    <button class="btn modal_action_btn" type="button" onclick="createThaiDishSubmit(this.form)">ADD</button>
</form>
<script>
    $("#add-dish-pic").fileinput({
        overwriteInitial: true,
        maxFileSize: 1500,
        showClose: false,
        showCaption: false,
        browseLabel: '',
        removeLabel: '',
        browseIcon: '<i class="fas fa-folder-open"></i>',
        removeIcon: '<i class="fas fa-trash-alt"></i>',
        removeTitle: 'Cancel or reset changes',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img src="/assets/images/svg/omlette.svg" alt="You Food">',
        allowedFileExtensions: ["jpg", "png", "gif"]
    });


    function addDishInitial() {
        var dishTypeSelect = document.querySelector('#add-dish-type');
        var unitSelect = document.querySelector(".unit_select");
        $('#add-dish-type').select2();
        fetch(dishTypeUrl)
            .then(res => res.json())
            .then(data => {
                data.map((data) => {
                    let option = createNode('option');
                    option.value = data.dishTypeId;
                    option.innerText = data.dishTypeNameTh;
                    appendNode(dishTypeSelect, option);
                });
            }).catch(err => {
            console.error('Error: ', err);
        });

        fetch(unitUrl)
            .then(res => res.json())
            .then(data => {
                data.map((data) => {
                    var dataDisplay =[];
                    $(data).each(function(){
                        var member = {'id':data.unitId,'text':data.unitNameTh};
                        dataDisplay.push(member);
                    });

                    $(".unit_select").select2({
                        width: "100%",
                        data: dataDisplay
                    });
                });
            }).catch(err => {
            console.error('Error: ', err);
        });

        fetch(searchGroupUrl)
            .then(res => res.json())
            .then(data => {
                $(".ingredient_select").select2({
                    width: "100%",
                    data: data
                });
            }).catch(err => {
            console.error('Error: ', err);
        });
        console.log("ADD DISH INITIAL");
    }


    function deleteMainRow(no) {
        document.getElementById("main-" + no + "").outerHTML = "";
    }

    function deleteSubRow(trSubId) {
        document.getElementById(trSubId).outerHTML = "";
    }

    function addSubRow(trMainId, mainIdx, no) {
        try {
            var table = document.getElementById("data_table");
            var mainNumber = table.getElementsByTagName("tr")[no].getAttribute("main-no");
            var subIdx = document.querySelectorAll(".sub-" + mainNumber).length;
            var trSubId = 'sub-' + mainNumber + '-' + subIdx;
            var subSubstitutionIngredientSelect = '<select class="form-control-lg ingredient_select" name="ingredients[' + mainIdx + '].substitutions[' + subIdx + '].ingredientId"><option> Please Select</option></select>';
            var subSubstitutionAmountInput = '<input type="text" class="form-control" name="ingredients[' + mainIdx + '].substitutions[' + subIdx + '].amount">';
            var subSubstitutionUnitSelect = '<select class="form-control-lg unit_select" name="ingredients[' + mainIdx + '].substitutions[' + subIdx + '].unitId"><option> Please Select</option></select>';
            var deleteBtn = "<button type='button' class='btn btn-danger' onclick='deleteSubRow(\"" + trSubId + "\")'><i class='fa fa-minus'></i></button>";
            $("#" + trMainId).after("<tr id='" + trSubId + "' class='sub sub-" + mainIdx + "'><td class='border-0 pl-5'>" + subSubstitutionIngredientSelect + "</td><td class='border-0'>" + subSubstitutionAmountInput + "</td><td class='border-0'>" + subSubstitutionUnitSelect + "</td><td colspan='2' class='border-0'>" + deleteBtn + "</td><tr>");
        }catch (e){
            console.error(e);
        }finally {
            addDishInitial();
        }

    }

    function addDishIngredientAddRow() {
        try {
            var new_ingredient_text = $("#ingredient_select option:selected").text();
            var new_ingredient_value = $("#ingredient_select").val();

            var new_amount_value = $("#ingredient_amount_input").val();

            var new_is_main_flag_text = $("#is_main_flag_select option:selected").text();
            var new_is_main_flag_value = $("#is_main_flag_select").val();

            var new_unit_text = $("#ingredient_unit_select option:selected").text();
            var new_unit_value = $("#ingredient_unit_select").val();


            var table = document.getElementById("data_table");
            var table_len = (table.rows.length) - 1;
            var mainIdx = table.getElementsByClassName("main").length;
            var trMainId = 'main-' + mainIdx;
            var new_ingredient = '<input type="text" class="form-control" value="' + new_ingredient_text + '" readonly> <input type="hidden" name="ingredients[' + mainIdx + '].ingredientId" value="' + new_ingredient_value + '">';
            var new_amount = '<input type="text" class="form-control" name="ingredients[' + mainIdx + '].amount" value="' + new_amount_value + '" readonly>';
            var new_unit = '<input type="text" class="form-control" value="' + new_unit_text + '" readonly> <input type="hidden" name="ingredients[' + mainIdx + '].unitId" value="' + new_unit_value + '">';
            var new_is_main_flag = '<input type="text" class="form-control" value="' + new_is_main_flag_text + '" readonly> <input type="hidden" name="ingredients[' + mainIdx + '].cookIngredientIsMainFlag" value="' + new_is_main_flag_value + '">';
            var deleteBtn = "<button type='button' class='btn btn-danger' onclick='deleteMainRow(" + mainIdx + ")'><i class='fa fa-minus'></i></button>";
            var addSubBtn = "<button type='button' class='btn btn-warning' onclick='addSubRow(\"" + trMainId + "\"," + mainIdx + "," + table_len + ")'><i class='fas fa-plus'></i></button>";

            table.insertRow(table_len).outerHTML = "<tr id='" + trMainId + "' class='main main-" + mainIdx + "'main-no='" + mainIdx + "'><td id='ingredient_row" + mainIdx + "'>" + new_ingredient + "</td><td id='ingredient_amount_row" + mainIdx + "'>" + new_amount + "</td><td id='ingredient_unit_row" + mainIdx + "'>" + new_unit + "</td><td id='new_is_main_flag_row" + mainIdx + "'>" + new_is_main_flag + "</td><td class='text-center'>" + deleteBtn + addSubBtn + "</td></tr>";
        }catch (e){
            console.error(e);
        }finally {
            addDishInitial();
        }
    }
    addDishInitial();
</script>