<form accept-charset="UTF-8" enctype="multipart/form-data">
    <input type="hidden" name="dishId" th:value="${dish.dishId}">
    <input type="hidden" name="fileId" th:value="${dish.file.fileId}">
    <input type="hidden" name="cookId" th:value="${dish.cooks.get(0).cookId}">
    <hr class="modal_action_line">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="edit-dish-name-th">Dish Name Th</label>
            <input id="edit-dish-name-th" type="text" class="form-control" placeholder="Dish Name Th" name="dishNameTh"
                   th:value="${dish.dishNameTh}">
        </div>
        <div class="form-group col-md-6">
            <label for="edit-dish-name-en">Dish Name En</label>
            <input id="edit-dish-name-en" type="text" class="form-control" placeholder="Dish Name En" name="dishNameEn"
                   th:value="${dish.dishNameEn}">
        </div>
    </div>
    <div class="form-group">
        <label for="edit-dish-pic">Pictures</label>
        <input id="edit-dish-pic" type="file" name="dishPic">
        <input type="hidden" name="fileGroup" value="pic-dish">
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="edit-dish-type-th">Dish Type</label>
            <select class="form-control" id="edit-dish-type-th" name="dishTypeId" title="Dish Type">
                <option th:class="${dishType.dishTypeId==dish.dishType.dishTypeId} ? text-primary : text-secondary"
                        th:value="${dishType.dishTypeId}"
                        th:text="${dishType.dishTypeNameTh}"
                        th:each="dishType : ${dishType}"
                        th:selected="${dishType.dishTypeId==dish.dishType.dishTypeId}"></option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="edit-dish-description-th">Dish Description Th</label>
            <textarea id="edit-dish-description-th" class="form-control" name="dishDescriptionTh"
                      th:text="${dish.dishDescriptionTh}"></textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="edit-dish-description-en">Dish Description En</label>
            <textarea id="edit-dish-description-en" class="form-control" name="dishDescriptionEn"
                      th:text="${dish.dishDescriptionEn}"></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="edit-dish-cook-formula-name">Cook Formula Name</label>
            <input id="edit-dish-cook-formula-name" type="text" class="form-control" placeholder="Cook Formula Name"
                   name="cookFormulaName"
                   th:value="${dish.cooks.get(0).cookFormulaName}">
        </div>
    </div>
<!--INGREDIENT-->
<!--    <div class="form-row">-->
<!--        <div class="form-group col">-->
<!--            <table id="data_table" class="table">-->
<!--                <thead class="text-white">-->
<!--                <tr class="text-center">-->
<!--                    <th width="50%">Ingredient</th>-->
<!--                    <th width="15%">Amount</th>-->
<!--                    <th width="20%">Unit</th>-->
<!--                    <th width="15%">Is Main</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr th:each="coolIngredient : ${dish.cooks.get(0).cookIngredient}">-->
<!--                    <td th:text="${coolIngredient.ingredient.ingredientNameTh}"></td>-->
<!--                    <td>-->
<!--                        <input type="text" class="form-control" placeholder="Cook Ingredient Amount"-->
<!--                               th:value="${coolIngredient.cookIngredientAmount}">-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <select class="form-control" title="Ingredient Type">-->
<!--                            <option th:class="${unitType.unitId == coolIngredient.unit.unitId} ? text-primary : text-secondary"-->
<!--                                    th:value="${unitType.unitId}"-->
<!--                                    th:text="${unitType.unitNameTh}"-->
<!--                                    th:each="unitType : ${unitType}"-->
<!--                                    th:selected="${unitType.unitId == coolIngredient.unit.unitId}"></option>-->
<!--                        </select>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <select class="form-control">-->
<!--                            <option  th:class="${'N' == coolIngredient.cookIngredientIsMainFlag} ? text-primary : text-secondary"-->
<!--                                     th:selected="${'N' == coolIngredient.cookIngredientIsMainFlag}"-->
<!--                                     value="N">N</option>-->
<!--                            <option  th:class="${'Y' == coolIngredient.cookIngredientIsMainFlag} ? text-primary : text-secondary"-->
<!--                                     th:selected="${'Y' == coolIngredient.cookIngredientIsMainFlag}"-->
<!--                                     value="Y">Y</option>-->
<!--                        </select>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
    <div class="form-row">
        <div class="form-group col">
            <label for="edit-dish-cook-detail">Cook Detail</label>
            <textarea id="edit-dish-cook-detail" class="form-control" name="cookDetail"
                      th:text="${dish.cooks.get(0).cookDetail}"></textarea>
        </div>
    </div>
    <hr class="modal_action_line">
    <button class="btn modal_action_btn" onclick="editThaiDishSubmit(this.form);"
            type="button">EDIT
    </button>
</form>
<script>
    var dishTypeSelect = document.querySelector('#edit-dish-type');

    $("#edit-dish-pic").fileinput({
        overwriteInitial: true,
        maxFileSize: 1500,
        showClose: false,
        showCaption: false,
        browseLabel: '',
        removeLabel: '',
        browseIcon: '<i class="fas fa-folder-open"></i>',
        removeIcon: '<i class="fas fa-trash-alt"></i>',
        removeTitle: 'Cancel or reset changes',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img width="50%" src="[[${dish.file.fileDownloadUrl}]]" alt="You Food">',
        //layoutTemplates: {main2: '{preview} ' + btnCust + ' {remove} {browse}'},
        allowedFileExtensions: ["jpg", "png", "gif"]
    });


    function editDishInitial() {
        // fetch(dishTypeUrl)
        //     .then(res => res.json())
        //     .then(data => {
        //         // iterate over users
        //         data.map((data) => {
        //             // create the elements
        //             let option = createNode('option');
        //             option.value = data.dishTypeId;
        //             option.innerText = data.dishTypeNameTh;
        //             // append all elements
        //             appendNode(dishTypeSelect, option);
        //         });
        //     }).catch(err => {
        //     console.error('Error: ', err);
        // });
        console.log("ADD DISH INITIAL");
    }

    editDishInitial();
</script>