<hr class="modal_action_line">
<div class="form-group">
    <label for="edit-dish-pic">Pictures</label>
    <img width="50%" id="edit-dish-pic" th:src="${dish.file.fileDownloadUrl}" alt="">
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="edit-dish-name">Dish Name</label>
        <p id="edit-dish-name" th:text="${dish.dishName}"></p>
    </div>
    <div class="form-group col-md-6">
        <label for="edit-dish-type">Dish Type</label>
        <p id="edit-dish-type" th:text="${dish.dishTypeId}"></p>
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        <label for="edit-dish-description">Dish Description</label>
        <p id="edit-dish-description" th:text="${dish.dishDescription}"></p>
    </div>
</div>
<hr class="modal_action_line">

