<form accept-charset="UTF-8" enctype="multipart/form-data">
    <input type="hidden" name="nutritionId" th:value="${nutrition.nutritionId}">
    <input type="hidden" name="fileId" th:value="${nutrition.file.fileId}">
    <hr class="modal_action_line">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="edit-nutrition-name-th">Nutrition Name Th</label>
            <input id="edit-nutrition-name-th" type="text" class="form-control" placeholder="Nutrition Name Th"
                   name="nutritionNameTh"
                   th:value="${nutrition.nutritionNameTh}">
        </div>
        <div class="form-group col-md-6">
            <label for="edit-nutrition-name-en">Nutrition Name En</label>
            <input id="edit-nutrition-name-en" type="text" class="form-control" placeholder="Nutrition Name En"
                   name="nutritionNameEn"
                   th:value="${nutrition.nutritionNameEn}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="edit-nutrition-pic">Pictures</label>
            <input id="edit-nutrition-pic" type="file" name="nutritionPic">
            <input type="hidden" name="fileGroup" value="pic-nutrition">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="edit-nutrition-detail-th">Nutrition Detail Th</label>
            <textarea id="edit-nutrition-detail-th" type="text" class="form-control" placeholder="Nutrition Detail Th"
                      name="nutritionDetailTh"
                      th:text="${nutrition.nutritionDetailTh}"></textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="edit-nutrition-detail-en">Nutrition Detail En</label>
            <textarea id="edit-nutrition-detail-en" type="text" class="form-control" placeholder="Nutrition Detail En"
                      name="nutritionDetailEn"
                      th:text="${nutrition.nutritionDetailEn}"></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="edit-nutrition-type">Nutrition Type</label>
            <select id="edit-nutrition-type" class="form-control" name="nutritionTypeId" title="Nutrition Type">
                <option th:class="${nutritionType.nutritionTypeId==nutrition.nutritionTypeId} ? text-primary : text-secondary"
                        th:value="${nutritionType.nutritionTypeId}"
                        th:text="${nutritionType.nutritionTypeNameTh}"
                        th:each="nutritionType : ${nutritionType}"
                        th:selected="${nutritionType.nutritionTypeId==nutrition.nutritionTypeId}"></option>
            </select>
        </div>
    </div>
    <hr class="modal_action_line">
    <button class="btn modal_action_btn" type="button" onclick="editNutritionSubmit(this.form)">EDIT</button>
</form>
<script>
    $("#edit-nutrition-pic").fileinput({
        overwriteInitial: true,
        maxFileSize: 1500,
        showClose: false,
        showCaption: false,
        browseLabel: '',
        removeLabel: '',
        browseIcon: '<i class="fas fa-folder-open"></i>',
        removeIcon: '<i class="fas fa-trash-alt"></i>',
        removeTitle: 'Cancel or reset changes',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img width="50%" src="[[${nutrition.file.fileDownloadUrl}]]" alt="Nutrition">',
        allowedFileExtensions: ["jpg", "png", "gif"]
    });


    function editNutritionInitial() {
        console.log("EDIT NUTRITION INITIAL");
    }

    editNutritionInitial();
</script>