<form accept-charset="UTF-8" enctype="multipart/form-data">
    <hr class="modal_action_line">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="add-nutrition-name-th">Nutrition Name Th</label>
            <input id="add-nutrition-name-th" type="text" class="form-control" placeholder="Nutrition Name Th"
                   name="nutritionNameTh"
                   required>
        </div>
        <div class="form-group col-md-6">
            <label for="add-nutrition-name-en">Nutrition Name En</label>
            <input id="add-nutrition-name-en" type="text" class="form-control" placeholder="Nutrition Name En"
                   name="nutritionNameEn"
                   required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="add-nutrition-pic">Pictures</label>
            <input id="add-nutrition-pic" type="file" name="nutritionPic" required>
            <input type="hidden" name="fileGroup" value="pic-nutrition">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="add-nutrition-detail-th">Nutrition Detail Th</label>
            <textarea id="add-nutrition-detail-th" type="text" class="form-control" placeholder="Nutrition Detail Th"
                      name="nutritionDetailTh"
                      required></textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="add-nutrition-detail-en">Nutrition Detail En</label>
            <textarea id="add-nutrition-detail-en" type="text" class="form-control" placeholder="Nutrition Detail En"
                      name="nutritionDetailEn"
                      required></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="add-nutrition-type">Nutrition Type</label>
            <select class="form-control" id="add-nutrition-type" name="nutritionTypeId" title="Nutrition Type"></select>
        </div>
    </div>
    <hr class="modal_action_line">
    <button class="btn modal_action_btn" type="button" onclick="createNutritionSubmit(this.form)">ADD</button>
</form>
<script>
    var dishTypeSelect = document.querySelector('#add-nutrition-type');

    $("#add-nutrition-pic").fileinput({
        overwriteInitial: true,
        maxFileSize: 1500,
        showClose: false,
        showCaption: false,
        browseLabel: '',
        removeLabel: '',
        browseIcon: '<i class="fas fa-folder-open"></i>',
        removeIcon: '<i class="fas fa-trash-alt"></i>',
        removeTitle: 'Cancel or reset changes',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img src="/assets/images/svg/omlette.svg" alt="You Food">',
        //layoutTemplates: {main2: '{preview} ' + btnCust + ' {remove} {browse}'},
        allowedFileExtensions: ["jpg", "png", "gif"]
    });


    function addNutritionInitial() {
        fetch(nutritionTypeUrl)
            .then(res => res.json())
            .then(data => {
                // iterate over users
                data.map((data) => {
                    // create the elements
                    let option = createNode('option');
                    option.value = data.nutritionTypeId;
                    option.innerText = data.nutritionTypeNameTh;
                    // append all elements
                    appendNode(dishTypeSelect, option);
                });
            }).catch(err => {
            console.error('Error: ', err);
        });
        console.log("ADD NUTRITION INITIAL");
    }
    addNutritionInitial();
</script>