<h1 class="page-main-subject font-logo">Thai Dish Maintenance</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-list font-dark"></i>
                        <span class="caption-subject bold uppercase"> THAI DISH MAINTENANCE</span>
                        <span class="caption-helper">"Thai Dish" Edit</span>
                    </div>
                </div>
                <div id="thai-dish-maintain-content" class="portlet-body">
                    <table id="thai-dish-maintain" class="data-table table">
                        <thead>
                        <tr>
                            <th width="30%">Picture</th>
                            <th width="20%">Dish Name</th>
                            <th width="30%">Dish Description</th>
                            <th width="20%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dish : ${dishList}">
                            <td><img width="150px" height="100px" th:src="${dish.file.fileDownloadUrl}"
                                     style="object-fit: cover"/></td>
                            <td th:text="${dish.dishNameEn}"></td>
                            <td class="text-left" th:text="${dish.dishDescriptionEn}"></td>
                            <td class="text-center">
                                <button title="View" type="button" th:onclick="'showModalViewThaiDish(\'' + ${dish.dishId} + '\');'"
                                        class="btn btn-sm btn-primary" ><i class="fas fa-eye"></i>
                                </button>
                                <button title="Edit" type="button" th:onclick="'showModalEditThaiDish(\'' + ${dish.dishId} + '\');'"
                                        class="btn btn-sm btn-warning font-white"><i class="fa fa-pencil-alt"></i>
                                </button>
                                <button title="Delete" type="button" class="btn btn-sm btn-danger"
                                        th:onclick="'deleteThaiDishSubmit(\'' + ${dish.dishId} + '\');'"><i
                                        class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/assets/scripts/thai-dish-crud.js}"></script>
