<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Recommending Thai Food Ingredient Substitutions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content="Peerapat Pitak"/>
    <meta name="description" content="RECOMMENDING THAI FOOD INGREDIENT SUBSTITUTIONS"/>
    <meta name="keywords" content="RECOMMENDING THAI FOOD INGREDIENT SUBSTITUTIONS"/>
    <meta name="Resource-type" content="Document"/>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/bootstrap-4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/metronic/components.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/commons.css}"/>
    <script type="text/javascript" th:src="@{/assets/vendors/jquery-3.5.1/js/jquery-3.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/vendors/bootstrap-4.4.1/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="col text-center">
                <h1 class="page-main-subject font-logo m-5">Administrator</h1>
            </div>
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-list font-dark"></i>
                        <span class="caption-subject bold uppercase"> Admin Authentication</span>
                        <span class="caption-helper">Review & Approve Dish menu</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <form th:action="@{/admin-login}" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="login-username">Email UserName</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">@</div>
                                    </div>
                                    <input id="login-username" type="text" class="form-control"
                                           placeholder="name@example.com"
                                           name="username">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="login-password">Password</label>
                                <input id="login-password" type="password" class="form-control" placeholder="Password"
                                       name="password">
                            </div>
                            <div class="form-group col text-right">
                                <button class="btn btn-rtfis " type="submit">LOGIN</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>