<h1 class="page-main-subject font-logo">Thai Dish Review</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-list font-dark"></i>
                        <span class="caption-subject bold uppercase"> THAI DISH REVIEW</span>
                        <span class="caption-helper">"Thai Dish" For review & approve</span>
                    </div>
                    <div class="actions">
                        <button title="Refresh Page !!!" class="btn btn-primary" onclick='location.href="admin";'><i
                                class="fas fa-sync-alt"></i></button>
                    </div>
                </div>
                <div id="thai-dish-review-content" class="portlet-body">
                    <table id="thai-dish-review" class="data-table table">
                        <thead>
                        <tr>
                            <th width="30%">Picture</th>
                            <th width="20%">Dish Name</th>
                            <th width="30%">Dish Description</th>
                            <th width="20%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dish : ${dishForReviewList}">
                            <td><img width="150px" height="100px" th:src="${dish.file.fileDownloadUrl}"
                                     th:onclick="'xxx(\'' + ${dish.dishId} + '\');'" style="object-fit: cover"/></td>
                            <td th:text="${dish.dishNameTh}"></td>
                            <td class="text-left" th:text="${dish.dishDescriptionTh}"></td>
                            <td class="text-center">
                                <button title="Approve" type="button" class="btn btn-sm btn-success"
                                        th:onclick="'xxx(\'' + ${dish.dishId} + '\');'"><i class="fa fa-check"></i>
                                </button>
                                <button title="Reject" type="button" class="btn btn-sm btn-danger"
                                        th:onclick="'xxx(\'' + ${dish.dishId} + '\');'"><i class="fa fa-ban"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function deleteThaiDishSubmit(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, approve it!'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch("dish/approve/" + id, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response => response.text())
                    .then(data => {
                        if ("SUCCESS" == data) {
                            toastr.success("APPROVED DISH SUCCESS");
                        } else {
                            toastr.error("APPROVE DISH FAIL");
                        }
                    })
                    .finally(function () {
                        //reloadThaiDishContent();
                    });
            }
        });
    };
</script>
