﻿<div class="container-fluid">
    <figure class="logo">&nbsp;</figure>
    <p class="feature font-logo">Registration &#9679; Get Recommending Dish &#9679; Get Recommending Ingredient</p>

    <!-- TEST [BEGIN] -->
    <div class="row my-3">
        <div class="col-8 m-auto">
            <div class="tab row">
                <button class="tablinks btn col" onclick="searchType(event, 'search-type-dish')" id="defaultOpen">
                    🍲 Search by menu
                </button>
                <button class="tablinks btn col" onclick="searchType(event, 'search-type-ingredient')">
                    🐔 Search by ingredients
                </button>
            </div>
            <!-- Tab content -->
            <div class="tab row ">
                <div id="search-type-dish" class="tab-content col">
                    <div class="d-flex list-item-content h-100">
                        <form class="m-auto">
                            <div class="form-row">
                                <p class="subject font-logo">Some food menu you can find it</p>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-5">
                                    <input class="form-control" id="search-by-dish" name="keyword" multiple="multiple"
                                           title="Search"
                                           type="text"
                                           placeholder="🔎 Ex.Tomyumkung">
                                </div>
                                <div class="form-group col-5">
                                    <select name="searchType" id="search-type" title="Search Type" class="form-control">
                                    </select>
                                </div>
                                <div class="form-group col-2">
                                    <button class="form-control btn btn-rtfis" title="GO" type="button"
                                            onclick='universalSearch(this.form)'>GO
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="search-type-ingredient" class="tab-content col ">
                    <div class="d-flex list-item-content h-100">
                        <form class="m-auto">
                            <div class="form-row">
                                <p class="subject font-logo">What are you looking for your cooking</p>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-10">
                                    <select class="form-control" id="search-by-ingredient" name="ingredients"
                                            title="🔎 Ex.Chicken">
                                    </select>
                                </div>
                                <div class="form-group col-2">
                                    <button class="form-control btn btn-rtfis" title="GO" type="button"
                                            onclick='ingredientSearch(this.form)'>GO
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TEST [END] -->
    <div class="account">
        <button onclick='openModal("modal-register","Registration")'>REGISTER</button>
        &#9679;
        <button onclick='openModal("modal-login","Authentication")'>LOGIN</button>
    </div>
</div>

<style>
    /* Style the tab */
    .tab {
        overflow: hidden;
    }

    /* Style the buttons that are used to open the tab content */
    .tablinks {
        background: none;
        color: rgba(255, 255, 255, 0.8);
        font-size: 1.5vw;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        text-shadow: 1px 1px 5px #000;
        line-height: 2em;
    }

    /* Change background color of buttons on hover */
    .tablinks:hover {
        color: white;
    }

    /* Create an active/current tablink class */
    .tablinks.active {
        color: white;
        background: #A20100;
    }

    /* Style the tab content */
    .tab-content {
        display: none;
        height: 20vh;
        border: solid 2px #A20100;
    }
</style>
<script>
    document.getElementById("defaultOpen").click();
    let searchTypeSelect = document.querySelector('#search-type');
    var searchByIngredientSelect = document.querySelector('#search-by-ingredient');

    function homeInitial() {
        fetch(searchTypeUrl)
            .then(res => res.json())
            .then(data => {
                // iterate over users
                data.map((data) => {
                    // create the elements
                    let option = createNode('option');
                    option.value = data.searchTypeId;
                    option.innerText = data.searchTypeNameEn;
                    // append all elements
                    appendNode(searchTypeSelect, option);
                });
            }).catch(err => {
            console.error('Error: ', err);
        });
        fetch(ingredientListUrl)
            .then(res => res.json())
            .then(data => {
                data.map((data) => {
                    let option = createNode('option');
                    option.value = data.ingredientId;
                    option.innerText = data.ingredientNameEn;
                    appendNode(searchByIngredientSelect, option);
                });
            }).catch(err => {
            console.error('ERROR : ', err);
        });
        console.log("HOME INITIAL");
    }

    function searchType(evt, searchType) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tab-content");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(searchType).style.display = "block";
        evt.currentTarget.className += " active";
    }


    function universalSearch(elm) {
        const url = 'search/universal';
        let data = new FormData(elm);
        fetch(url, {
            method: 'POST',
            body: data
        }).then(response => response.text())
            .then(data => {
                modalWindow.show();
                modalSubject.text("Search");
                modalContent.html(data);
            })
            .finally(function () {

            });
    }

    function ingredientSearch(elm) {
        const url = 'search/by/ingredients';
        let data = new FormData(elm);
        fetch(url, {
            method: 'POST',
            body: data
        }).then(response => response.text())
            .then(data => {
                modalWindow.show();
                modalSubject.text("Search");
                modalContent.html(data);
            })
            .finally(function () {

            });
    }

    $("#search-by-ingredient").select2({
        multiple: true,
        width: '100%',
        selectionCssClass: 'form-control',
        maximumSelectionLength: 5
    });


    homeInitial();

</script>

