<h1 class="page-main-subject font-logo">Ingredient</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-list font-dark"></i>
                        <span class="caption-subject bold uppercase"> INGREDIENT</span>
                        <span class="caption-helper">"Ingredient" Management</span>
                    </div>
                    <div class="actions">
                        <button class="btn btn-success" onclick='openModal("modal-ingredient-add","Add Ingredient")'><i
                                class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div id="ingredient-content" class="portlet-body">
                    <table id="ingredient" class="data-table table">
                        <thead>
                        <tr>
                            <th width="30%">Picture</th>
                            <th width="15%">Ingredient Name</th>
                            <th width="15%">Ingredient Detail</th>
                            <th width="20%">Nutrition</th>
                            <th width="20%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ingredient : ${ingredientList}">
                            <td><img width="150px" height="150px" style="object-fit: cover" th:src="${ingredient.file.fileDownloadUrl}" th:onclick="'showModalViewThaiDish(\'' + ${ingredient.ingredientId} + '\');'"/></td>
                            <td th:text="${ingredient.ingredientNameEn}"></td>
                            <td class="text-left" th:text="${ingredient.ingredientDetailEn}"></td>
                            <td class="text-left">
                                <ul class="list-group" th:each="nutrition : ${ingredient.nutritions}">
                                    <li class="list-group-item border-0 p-0">
                                        <!--<p><img th:src="${nutrition.file.fileDownloadUrl}" class="rounded-circle mr-2"  width="50" height="50" style="object-fit: cover"><span th:text="${nutrition.nutritionNameTh}"></span></p>-->
                                        <p><img th:src="${nutrition.file.fileDownloadUrl}" class="rounded-circle mr-2"  width="50" height="50" style="object-fit: cover"><span th:text="${nutrition.nutritionNameEn}"></span></p>
                                    </li>
                                </ul>
                            </td>
                            <td class="text-center">
                                <button th:onclick="'showModalEditIngredient(\'' + ${ingredient.ingredientId} + '\');'" type="button"
                                        class="btn btn-sm btn-warning  font-white"><i class="fa fa-pencil-alt"></i>
                                </button>
                                <button title="Delete" type="button" class="btn btn-sm btn-danger delete" th:onclick="'deleteIngredientSubmit(\'' + ${ingredient.ingredientId} + '\');'"><i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/assets/scripts/ingredient-crud.js}"></script>