<h1 class="page-main-subject font-logo">Nutrition</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-list font-dark"></i>
                        <span class="caption-subject bold uppercase"> NUTRITION</span>
                        <span class="caption-helper">"Nutrition" Management</span>
                    </div>
                    <div class="actions">
                        <button class="btn btn-success" onclick='openModal("modal-nutrition-add","Add Nutrition")'><i
                                class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div id="nutrition-content" class="portlet-body">
                    <table id="nutrition" class="data-table table">
                        <thead>
                        <tr>
                            <th width="30%">Picture</th>
                            <th width="25%">Nutrition Name</th>
                            <th width="25%">Nutrition Detail</th>
                            <th width="20%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="nutrition : ${nutritionList}">
                            <td><img width="250px" height="150px" th:src="${nutrition.file.fileDownloadUrl}" th:onclick="'showModalViewThaiDish(\'' + ${nutrition.nutritionId} + '\');'" style="object-fit: cover"/></td>
                            <td th:text="${nutrition.nutritionNameEn}"></td>
                            <td th:text="${nutrition.nutritionDetailEn}"></td>
                            <td class="text-center">
                                <button title="Edit" th:onclick="'showModalEditNutrition(\'' + ${nutrition.nutritionId} + '\');'" type="button"
                                        class="btn btn-sm btn-warning edit font-white"><i class="fa fa-pencil-alt"></i>
                                </button>
                                <button title="Delete" type="button" class="btn btn-sm btn-danger delete" th:onclick="'deleteNutritionSubmit(\'' + ${nutrition.nutritionId} + '\');'"><i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/assets/scripts/nutrition-crud.js}"></script>