<h1 class="page-main-subject font-logo">Thai Dish</h1>
<section>
    <h2>Top 4 Thai Dish</h2>
    <div class="row">
        <div class="col-3">
            <div class="card ">
                <figure class="thai-dish-top-4 pic-01"></figure>
                <div class="card-body">
                    <h5 class="card-title">Tom yum kung</h5>
                    <p class="card-text">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </p>
                    <buton>Readmore</buton>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card ">
                <figure class="thai-dish-top-4 pic-02"></figure>
                <div class="card-body">
                    <h5 class="card-title">Pud Thai</h5>
                    <p class="card-text">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </p>
                    <buton>Readmore</buton>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card ">
                <figure class="thai-dish-top-4 pic-03"></figure>
                <div class="card-body">
                    <h5 class="card-title">Dtom Kaa Gai</h5>
                    <p class="card-text"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                    </p>
                    <buton>Readmore</buton>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card ">
                <figure class="thai-dish-top-4 pic-04"></figure>
                <div class="card-body">
                    <h5 class="card-title">Gaeng Keow Wan Gai</h5>
                    <p class="card-text"><span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </p>
                    <buton>Readmore</buton>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h2>Thai Dish Recommend</h2>
    <div class="row">
        <div class="col-6">
            <div class="card ">
                <figure class="thai-dish-recommend-pic pic-01"></figure>
                <div class="card-body">
                    <h5 class="card-title">Pat Gra Pao</h5>
                    <p class="card-text">
                        Meat or Seafood Fried with Sweet Basil
                    </p>
                    <buton>Readmore</buton>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card ">
                <figure class="thai-dish-recommend-pic pic-02"></figure>
                <div class="card-body">
                    <h5 class="card-title">Som Tam</h5>
                    <p class="card-text">
                        Som tam hails from Isaan in Northeastern Thailand.
                    </p>
                    <buton>Readmore</buton>
                </div>
            </div>
        </div>
    </div>
</section>