<form>
    <hr class="modal_action_line">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="login-email">Email Address</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                <input id="login-email" type="email" class="form-control" placeholder="name@example.com" name="userEmail">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="login-password">Password</label>
            <input id="login-password" type="password" class="form-control" placeholder="Password" name="userPassword">
        </div>
    </div>
    <hr class="modal_action_line">
    <button class="btn modal_action_btn" type="button" onclick="userLoginSubmit(this.form)">LOGIN</button>
</form>
<script>
    function userLoginSubmit(elm) {
        const url = 'http://localhost:9999/user/login';
        let data = getFormData($(elm));
        fetch(url, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        }).then(response=>response.text())
        .then(data=>{
            console.log(data);
            toastr.success("Login Success");
        }).catch(function(){
            toastr.error("Login Fail");
        })
    }
</script>