<form accept-charset="UTF-8" enctype="multipart/form-data">
    <hr class="modal_action_line">
    <div class="form-group">
        <label for="user-pic">Avatar</label>
        <input id="user-pic" type="file" name="userPic" required>
        <input type="hidden" name="fileGroup" value="pic-user">
    </div>
    <div class="form-group">
        <label for="register-email">Email Address</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">@</div>
            </div>
            <input id="register-email" type="email" class="form-control" placeholder="name@example.com" name="userEmail"
                   required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" placeholder="Name" name="userName" required>
        </div>
        <div class="form-group col-md-6">
            <label for="login-last-name">Last Name</label>
            <input id="login-last-name" type="text" class="form-control" placeholder="Last Name" name="userLastName"
                   required>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input id="password" type="password" class="form-control" placeholder="Password" name="userPassword"
                   required>
        </div>
        <div class="form-group col-md-6">
            <label for="re-password">Re Password</label>
            <input id="re-password" type="password" class="form-control" placeholder="Re-Password" required>
        </div>
    </div>
    <hr class="modal_action_line">
    <button class="btn modal_action_btn" onclick="userRegisterSubmit(this.form)" type="button">REGISTER</button>
</form>
<script>
    $("#user-pic").fileinput({
        overwriteInitial: true,
        maxFileSize: 1500,
        showClose: false,
        showCaption: false,
        browseLabel: '',
        removeLabel: '',
        browseIcon: '<i class="fas fa-folder-open"></i>',
        removeIcon: '<i class="fas fa-trash-alt"></i>',
        removeTitle: 'Cancel or reset changes',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img src="/assets/images/svg/avatar.svg" alt="Your Avatar">',
        allowedFileExtensions: ["jpg", "png", "gif"]
    });

    function userRegisterSubmit(elm) {
        const url = 'http://localhost:9999/rtfis-web-service/user/register';
        let data = new FormData(elm);//getFormData($(elm));
        fetch(url, {
            method: 'POST',
            body: data,
        }).then(response => response.text())
            .then(data => {
                if ("SUCCESS" == data) {
                    toastr.success("Register Success");
                } else {
                    toastr.error("Register Fail");
                }
            })
            .finally(function () {
                closeModal();
            });
    }
</script>