* {
    font-family: Tahoma;
}

@font-face {
    font-family: logoFont;
    src: url('../../assets/fonts/BlackberryJamPersonalUse-rXOB.ttf');
}

#header {
    background: #A20100;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 5;
    height: 34px;
    border-bottom: solid 5px #FFD700;
}

#logo-pic {
    background-image: url('../../assets/images/svg/chef.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    width: 25px;
    height: 25px;
    left: 3px;
    top: 3px;
    margin: auto;
}

#logo-text {
    position: fixed;
    top: 3px;
    left: 35px;
    font-size: 1em;
    font-weight: lighter;
    margin: 0;
    color: #FFD700;
}

.checked {
    color: gold;
}

.font-logo{
    font-family: logoFont;
}

.font-color-rtfis{
    color: gold;
}

.page-main-subject {
    color: #a20100;
    font-size: 3vw;
    text-decoration: underline;
}

.btn-rtfis, .btn-rtfis:hover{
    background: #a20100;
    color: white;
}
.btn-rtfis:hover{
    color: gold;
}

/* CUSTOM */
/* CUSTOM_DATATABLE */
.dataTables_length{
    float: left;
}
/* CUSTOM_SELECT2 */
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    color: white;
    background-color: #a20100;
    border: 1px solid gold;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: wheat;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: gold;
}
.select2-container--default .select2-selection--multiple {
    height: 39px;
}
/* SCROLL [BEGIN]
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #b9b9b9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a20100;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: red;
}
/* SCROLL [END]