.contact-us {

}

.contact-us .content {
    padding: 0 10vw;
}

.contact-us .content label {
    font-size: 1.5vw;
    float: left;
    font-weight: bold;
    color: #a20100;
}

.contact-us .content hr {
    margin: 2em 0em;
}
