
.section{
	text-align:center;
}
#menu li {
	display:inline-block;
}
#menu li.active{
	background: #FFD700;
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #ff8a26;
}
#menu li.active a:hover{

}
#menu li:hover{

}

#menu li a,
#menu li.active a{
	padding: 5px 5px;
	display: block;
}
#menu li.active a{
	color: #A20100;
}
#menu{
	margin: 0;
	text-align: right;
}

