.home {
    position: relative;
}

.home::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    background-image: url("../images/pictures/home/01.jpg");
}

.home .logo {
    background-image: url(../images/svg/tomyumkung.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 45vh;
}
.home .feature{
    color: white;
    font-size: 2.65vw;
    text-shadow: 1px 1px 5px #000;
    border-bottom: dashed 2px #a20100;
    width: fit-content;
    margin: auto;
}
.home .subject {
    color: white;
    font-size: 3vw;
    text-shadow: 1px 1px 5px #000;
    margin: auto;
    width: fit-content;
}
.home .account , .home .account button{
    color: white;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 5px #000;
}
.home .account button:hover{
    color: gold;
}