<table id="search-result-dish-type-7" class="data-table table text-light">
    <thead>
    <tr>
        <th class="text-center">Dish Picture</th>
        <th class="text-center">Dish Name Th</th>
        <th class="text-center">Dish Name En</th>
        <th class="text-center">Dish Type Name Th</th>
        <th class="text-center">Dish Type Name En</th>
        <th class="text-center">Cook Formula Name</th>
        <th class="text-center">Cook Detail</th>
        <th class="text-center">Main Ingredient Picture</th>
        <th class="text-center">Main Ingredient Th</th>
        <th class="text-center">Main Ingredient En</th>
        <th class="text-center">Cook Ingredient Amount</th>
        <th class="text-center">Unit Name Th</th>
        <th class="text-center">Unit Name En</th>
        <th class="text-center">Main Ingredient Detail Th</th>
        <th class="text-center">Main Ingredient Detail En</th>
        <th class="text-center">Sub Ingredient Picture</th>
        <th class="text-center">Sub Ingredient Th</th>
        <th class="text-center">Sub Ingredient En</th>
        <th class="text-center">Sub Ingredient Detail Th</th>
        <th class="text-center">Sub Ingredient Detail En</th>
        <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="result : ${resultDishSearchType7DTOList}">
        <td>
            <img width="150px" height="100px" th:src="${result.dishFileUrl}" style="object-fit: cover"/>
        </td>
        <td th:text="${result.dishNameTh}"></td>
        <td th:text="${result.dishNameEn}"></td>
        <td th:text="${result.dishTypeNameTh}"></td>
        <td th:text="${result.dishTypeNameEn}"></td>
        <td th:text="${result.cookFormulaName}"></td>
        <td th:text="${result.cookDetail}"></td>
        <td>
            <img width="150px" height="100px" th:src="${result.mainFileIngredient}" style="object-fit: cover"/>
        </td>
        <td th:text="${result.mainIngredientTh}"></td>
        <td th:text="${result.mainIngredientEn}"></td>
        <td th:text="${result.cookIngredientAmount}"></td>
        <td th:text="${result.unitNameTh}"></td>
        <td th:text="${result.unitNameEn}"></td>
        <td th:text="${result.mainIngredientDetailTh}"></td>
        <td th:text="${result.mainIngredientDetailEn}"></td>
        <td>
            <img width="150px" height="100px" th:src="${result.subFileIngredient}" style="object-fit: cover"/>
        </td>
        <td th:text="${result.subIngredientTh}"></td>
        <td th:text="${result.subIngredientEn}"></td>
        <td th:text="${result.subIngredientDetailTh}"></td>
        <td th:text="${result.subIngredientDetailEn}"></td>
        <td>
            <button th:onclick="showModalViewThaiDish([[${result.dishId}]])"  class="btn btn-sm btn-primary mx-auto" type="button"><i class="fas fa-eye"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>
<script>
    initialDatatable($("#search-result-dish-type-7"));
</script>