<table id="search-result-dish-type-2" class="data-table table text-light">
    <thead>
    <tr>
        <th class="text-center">Picture</th>
        <th class="text-center">Dish Name Th</th>
        <th class="text-center">Dish Name En</th>
        <th class="text-center">Dish Description Th</th>
        <th class="text-center">Dish Description En</th>
        <th class="text-center">Cook Formula Name</th>
        <th class="text-center">Cook Detail</th>
        <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="result : ${resultDishSearchType2DTOList}">
        <td>
            <img width="150px" height="100px" th:src="${result.dishFileUrl}" style="object-fit: cover"/>
        </td>
        <td th:text="${result.dishNameTh}"></td>
        <td th:text="${result.dishNameEn}"></td>
        <td th:text="${result.dishDescriptionTh}"></td>
        <td th:text="${result.dishDescriptionEn}"></td>
        <td th:text="${result.cookFormulaName}"></td>
        <td th:text="${result.cookDetail}"></td>
        <td>
            <button th:onclick="showModalViewThaiDish([[${result.dishId}]])"  class="btn btn-sm btn-primary mx-auto" type="button"><i class="fas fa-eye"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>
<script>
    initialDatatable($("#search-result-dish-type-2"));
</script>