<table id="search-result-ingredient-type-1" class="data-table table text-light">
    <thead>
    <tr>
        <th class="text-center">Ingredient Picture</th>
        <th class="text-center">Ingredient Name Th</th>
        <th class="text-center">Ingredient Name En</th>
        <th class="text-center">Ingredient Detail Th</th>
        <th class="text-center">Ingredient Detail En</th>
        <th class="text-center">Nutrition Type Name Th</th>
        <th class="text-center">Nutrition Type Name En</th>
        <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="result : ${resultIngredientSearchType1DTOList}">
        <td>
            <img width="150px" height="100px" th:src="${result.fileDownloadUrl}" style="object-fit: cover"/>
        </td>
        <td th:text="${result.ingredientNameTh}"></td>
        <td th:text="${result.ingredientNameEn}"></td>
        <td th:text="${result.ingredientDetailTh}"></td>
        <td th:text="${result.ingredientDetailEn}"></td>
        <td th:text="${result.nutritionTypeNameTh}"></td>
        <td th:text="${result.nutritionTypeNameEn}"></td>
        <td>
            <button th:onclick="showModalViewIngredient([[${result.ingredientId}]])"  class="btn btn-sm btn-primary mx-auto" type="button"><i class="fas fa-eye"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>
<script>
    initialDatatable($("#search-result-ingredient-type-1"));
</script>