<table id="search-result-ingredient-type-2" class="data-table table text-light">
    <thead>
    <tr>
        <th class="text-center">Main Ingredient Picture</th>
        <th class="text-center">Main Ingredient Th</th>
        <th class="text-center">Main Ingredient En</th>
        <th class="text-center">Main Ingredient Detail Th</th>
        <th class="text-center">Main Ingredient Detail En</th>
        <th class="text-center">Sub Ingredient Picture</th>
        <th class="text-center">Sub Ingredient Th</th>
        <th class="text-center">Sub Ingredient En</th>
        <th class="text-center">Sub Ingredient Detail Th</th>
        <th class="text-center">Sub Ingredient Detail En</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="result : ${resultIngredientSearchType2DTOList}">
        <td>
            <img width="150px" height="100px" th:src="${result.mainFileIngredient}" style="object-fit: cover"/>
        </td>
        <td th:text="${result.mainIngredientTh}"></td>
        <td th:text="${result.mainIngredientEn}"></td>
        <td th:text="${result.mainIngredientDetailTh}"></td>
        <td th:text="${result.mainIngredientDetailEn}"></td>
        <td>
            <img width="150px" height="100px" th:src="${result.subFileIngredient}" style="object-fit: cover"/>
        </td>
        <td th:text="${result.subIngredientTh}"></td>
        <td th:text="${result.subIngredientEn}"></td>
        <td th:text="${result.subIngredientDetailTh}"></td>
        <td th:text="${result.subIngredientDetailEn}"></td>
    </tr>
    </tbody>
</table>
<script>
    initialDatatable($("#search-result-ingredient-type-2"));
</script>