<table id="search-result-ingredient-type-3" class="data-table table text-light">
    <thead>
    <tr>
        <th class="text-center">Dish Picture</th>
        <th class="text-center">Dish Name Th</th>
        <th class="text-center">Dish Name En</th>
        <th class="text-center">Dish Type Name Th</th>
        <th class="text-center">Dish Type Name En</th>
        <th class="text-center">Dish Description Th</th>
        <th class="text-center">Dish Description En</th>
        <th class="text-center">Cook Formula Name</th>
        <th class="text-center">Cook Detail</th>
        <th class="text-center">Ingredient Picture</th>
        <th class="text-center">Ingredient Name Th</th>
        <th class="text-center">Ingredient Name En</th>
        <th class="text-center">Ingredient Type Name Th</th>
        <th class="text-center">Ingredient Type Name En</th>
        <th class="text-center">Ingredient Detail Th</th>
        <th class="text-center">Ingredient Detail En</th>
        <th class="text-center">Cook Ingredient Amount</th>
        <th class="text-center">Unit Name Th</th>
        <th class="text-center">Unit Name En</th>
        <th class="text-center">Nutrition Picture</th>
        <th class="text-center">Nutrition Type Name Th</th>
        <th class="text-center">Nutrition Type Name En</th>
        <th class="text-center">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="result : ${resultIngredientSearchType3DTOList}">
        <td>
            <img width="150px" height="100px" th:src="${result.filePath01}" style="object-fit: cover"/>
        </td>
        <td th:text="${result.dishNameTh}"></td>
        <td th:text="${result.dishNameEn}"></td>
        <td th:text="${result.dishTypeNameTh}"></td>
        <td th:text="${result.dishTypeNameEn}"></td>
        <td th:text="${result.dishDescriptionTh}"></td>
        <td th:text="${result.dishDescriptionEn}"></td>
        <td th:text="${result.cookFormulaName}"></td>
        <td th:text="${result.cookDetail}"></td>
        <td>
            <img width="150px" height="100px" th:src="${result.filePath02}" style="object-fit: cover"/>
        </td>
        <td th:text="${result.ingredientNameTh}"></td>
        <td th:text="${result.ingredientNameEn}"></td>
        <td th:text="${result.ingredientTypeNameTh}"></td>
        <td th:text="${result.ingredientTypeNameEn}"></td>
        <td th:text="${result.ingredientDetailTh}"></td>
        <td th:text="${result.ingredientDetailEn}"></td>
        <td th:text="${result.cookIngredientAmount}"></td>
        <td th:text="${result.unitNameTh}"></td>
        <td th:text="${result.unitNameEn}"></td>
        <td>
            <img width="150px" height="100px" th:src="${result.filePath03}" style="object-fit: cover"/>
        </td>
        <td th:text="${result.nutritionTypeNameTh}"></td>
        <td th:text="${result.nutritionTypeNameEn}"></td>
        <td>
            <button th:onclick="showModalViewIngredient([[${result.dishId}]])" class="btn btn-sm btn-primary mx-auto" type="button"><i class="fas fa-eye"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>
<script>
    initialDatatable($("#search-result-ingredient-type-3"));
</script>