<form accept-charset="UTF-8" enctype="multipart/form-data">
    <input type="hidden" name="ingredientId" th:value="${ingredient.ingredientId}">
    <input type="hidden" name="fileId" th:value="${ingredient.file.fileId}">
    <hr class="modal_action_line">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="edit-ingredient-name-th">Ingredient Name Th</label>
            <input id="edit-ingredient-name-th" type="text" class="form-control" placeholder="Ingredient Name Th"
                   name="ingredientNameTh"
                   th:value="${ingredient.ingredientNameTh}">
        </div>
        <div class="form-group col-md-6">
            <label for="edit-ingredient-name-en">Ingredient Name En</label>
            <input id="edit-ingredient-name-en" type="text" class="form-control" placeholder="Ingredient Name En"
                   name="ingredientNameEn"
                   th:value="${ingredient.ingredientNameEn}">
        </div>
    </div>
    <div class="form-group">
        <label for="edit-ingredient-pic">Pictures</label>
        <input id="edit-ingredient-pic" type="file" name="ingredientPic">
        <input type="hidden" name="fileGroup" value="pic-ingredient">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="edit-ingredient-detail-th">Ingredient Detail Th</label>
            <textarea id="edit-ingredient-detail-th" type="text" class="form-control" placeholder="Ingredient Detail Th"
                      name="ingredientDetailTh"
                      th:text="${ingredient.ingredientDetailTh}"></textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="edit-ingredient-detail-en">Ingredient Detail En</label>
            <textarea id="edit-ingredient-detail-en" type="text" class="form-control" placeholder="Ingredient Detail En"
                      name="ingredientDetailEn"
                      th:text="${ingredient.ingredientDetailEn}"></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="edit-ingredient-type">Ingredient Type</label>
            <select class="form-control" id="edit-ingredient-type" name="ingredientTypeId"
                    title="Ingredient Type">
                <option th:class="${ingredientType.ingredientTypeId==ingredient.ingredientTypeId} ? text-primary : text-secondary"
                        th:value="${ingredientType.ingredientTypeId}"
                        th:text="${ingredientType.ingredientTypeNameTh}"
                        th:each="ingredientType : ${ingredientTypeList}"
                        th:selected="${ingredientType.ingredientTypeId==ingredient.ingredientTypeId}"></option>
            </select>
        </div>
    </div>
    <!--<div class="form-row">
        <div class="form-group col">
            <label for="edit-ingredient-substitution">Ingredient Substitution</label>
            <select class="form-control" id="edit-ingredient-substitution" name="ingredientSubstitutionIdList"
                    title="Ingredient Substitution">
            </select>
        </div>
    </div>
    <p>Nutrition</p>
    <hr>
    <div class="form-row">
        <div class="form-group col" th:each="nutrition,nutritionStat  : ${nutritionList}">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="nutritionIdList"

                       th:id="'nutrition-'+${nutrition.nutritionId}"
                       th:value="${nutrition.nutritionId}"
                       th:checked="${nutrition.nutritionId == (ingredient.nutritions.get(nutritionStat.index).nutritionId)}">
                <label class="custom-control-label" th:for="'nutrition-'+${nutrition.nutritionId}"
                       th:text="${nutrition.nutritionNameTh}"></label>
            </div>
        </div>
    </div>-->
    </div>
    <hr class="modal_action_line">
    <button class="btn modal_action_btn" type="button" onclick="editIngredientSubmit(this.form)">EDIT</button>
</form>

<script>
    var ingredientTypeSelect = document.querySelector('#edit-ingredient-type');
    var ingredientSubstitutionSelect = document.querySelector('#edit-ingredient-substitution');

    $("#edit-ingredient-pic").fileinput({
        overwriteInitial: true,
        maxFileSize: 1500,
        showClose: false,
        showCaption: false,
        browseLabel: '',
        removeLabel: '',
        browseIcon: '<i class="fas fa-folder-open"></i>',
        removeIcon: '<i class="fas fa-trash-alt"></i>',
        removeTitle: 'Cancel or reset changes',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img width="50%" src="[[${ingredient.file.fileDownloadUrl}]]" alt="Ingredient">',
        allowedFileExtensions: ["jpg", "png", "gif"]
    });


    function editIngredientInitial() {
        fetch(ingredientTypeUrl)
            .then(res => res.json())
            .then(data => {
                data.map((data) => {
                    let option = createNode('option');
                    option.value = data.ingredientTypeId;
                    option.innerText = data.ingredientTypeNameTh;
                    appendNode(ingredientTypeSelect, option);
                });
            }).catch(err => {
            console.error('ERROR : ', err);
        });
        // fetch(ingredientListUrl)
        //     .then(res => res.json())
        //     .then(data => {
        //         data.map((data) => {
        //             let option = createNode('option');
        //             option.value = data.ingredientId;
        //             option.innerText = data.ingredientNameTh;
        //             appendNode(ingredientSubstitutionSelect, option);
        //         });
        //     }).catch(err => {
        //     console.error('ERROR : ', err);
        // });
        console.log("ADD INGREDIENT INITIAL");
    }

    $("#edit-ingredient-type").select2();

    $("#edit-ingredient-substitution").select2({
        multiple: true
    });
    editIngredientInitial();
</script>