<div class="row">
    <div class="col-12 text-center">
        <img width="50%"  th:src="${ingredient.file.fileDownloadUrl}" alt="" style="object-fit: cover">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>Ingredient Name Th : <span class="font-color-rtfis" th:text="${ingredient.ingredientNameTh}"></span></p>
    </div>
    <div class="col-md-6">
        <p>Ingredient Name En : <span class="font-color-rtfis" th:text="${ingredient.ingredientNameEn}"></span></p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>Ingredient Detail Th : <span class="font-color-rtfis" th:text="${ingredient.ingredientDetailTh}"></span></p>
    </div>
    <div class="col-md-6">
        <p>Ingredient Detail En : <span class="font-color-rtfis" th:text="${ingredient.ingredientDetailEn}"></span></p>
    </div>
</div>
<hr>
<div class="row text-center">
    <h1 class="col-12 font-logo">Nutritions</h1>
</div>
<div class="row">
    <ul class="list-group pl-5" th:each="nutrition : ${ingredient.nutritions}">
        <li class="list-group-item border-0 p-0 bg-transparent">
            <p><img th:src="${nutrition.file.fileDownloadUrl}" class="rounded-circle mr-2"
                    width="25"
                    height="25" style="object-fit: cover">
                <span th:text="${nutrition.nutritionNameTh}"></span> /
                <span th:text="${nutrition.nutritionNameEn}"></span>
            </p>
        </li>
    </ul>

</div>