<form accept-charset="UTF-8" enctype="multipart/form-data">
    <hr class="modal_action_line">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="add-ingredient-name-th">Ingredient Name Th</label>
            <input id="add-ingredient-name-th" type="text" class="form-control" placeholder="Ingredient Name Th"
                   name="ingredientNameTh" required>
        </div>
        <div class="form-group col-md-6">
            <label for="add-ingredient-name-en">Ingredient Name En</label>
            <input id="add-ingredient-name-en" type="text" class="form-control" placeholder="Ingredient Name En"
                   name="ingredientNameEn" required>
        </div>
    </div>
    <div class="form-group">
        <label for="add-ingredient-pic">Pictures</label>
        <input id="add-ingredient-pic" type="file" name="ingredientPic" required>
        <input type="hidden" name="fileGroup" value="pic-ingredient">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="add-ingredient-detail-th">Ingredient Detail Th</label>
            <textarea id="add-ingredient-detail-th" type="text" class="form-control" placeholder="Ingredient Detail Th"
                      name="ingredientDetailTh"
                      required></textarea>
        </div>
        <div class="form-group col-md-6">
            <label for="add-ingredient-detail-en">Ingredient Detail En</label>
            <textarea id="add-ingredient-detail-en" type="text" class="form-control" placeholder="Ingredient Detail En"
                      name="ingredientDetailEn"
                      required></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="add-ingredient-type">Ingredient Type</label>
            <select class="form-control" id="add-ingredient-type" name="ingredientTypeId"
                    title="Ingredient Type">
                <option selected value="0">Please Select</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="add-ingredient-substitution">Ingredient Substitution</label>
            <select class="form-control" id="add-ingredient-substitution" name="ingredientSubstitutionIdList"
                    title="Ingredient Substitution">
            </select>
        </div>
    </div>
    <p>Nutrition</p>
    <hr>
    <div class="form-row">
        <div class="form-group col" th:each="nutrition : ${nutritionList}">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="'nutrition-'+${nutrition.nutritionId}"
                       name="nutritionIdList" th:value="${nutrition.nutritionId}">
                <label class="custom-control-label" th:for="'nutrition-'+${nutrition.nutritionId}"
                       th:text="${nutrition.nutritionNameTh}"></label>
            </div>
        </div>
    </div>
    </div>
    <hr class="modal_action_line">
    <button class="btn modal_action_btn" type="button" onclick="createIngredientSubmit(this.form)">ADD</button>
</form>

<script>
    var ingredientTypeSelect = document.querySelector('#add-ingredient-type');
    var ingredientSubstitutionSelect = document.querySelector('#add-ingredient-substitution');

    $("#add-ingredient-pic").fileinput({
        overwriteInitial: true,
        maxFileSize: 1500,
        showClose: false,
        showCaption: false,
        browseLabel: '',
        removeLabel: '',
        browseIcon: '<i class="fas fa-folder-open"></i>',
        removeIcon: '<i class="fas fa-trash-alt"></i>',
        removeTitle: 'Cancel or reset changes',
        msgErrorClass: 'alert alert-block alert-danger',
        defaultPreviewContent: '<img src="/assets/images/svg/omlette.svg" alt="You Food">',
        allowedFileExtensions: ["jpg", "png", "gif"]
    });


    function addIngredientInitial() {
        fetch(ingredientTypeUrl)
            .then(res => res.json())
            .then(data => {
                data.map((data) => {
                    let option = createNode('option');
                    option.value = data.ingredientTypeId;
                    option.innerText = data.ingredientTypeNameTh;
                    appendNode(ingredientTypeSelect, option);
                });
            }).catch(err => {
            console.error('ERROR : ', err);
        });
        fetch(ingredientListUrl)
            .then(res => res.json())
            .then(data => {
                data.map((data) => {
                    let option = createNode('option');
                    option.value = data.ingredientId;
                    option.innerText = data.ingredientNameTh;
                    appendNode(ingredientSubstitutionSelect, option);
                });
            }).catch(err => {
            console.error('ERROR : ', err);
        });
        console.log("ADD INGREDIENT INITIAL");
    }

    $("#add-ingredient-type").select2();

    $("#add-ingredient-substitution").select2({
        multiple: true
    });
    addIngredientInitial();
</script>