<section class="content">
    <h1 class="page-main-subject font-logo">Contact Us</h1>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="first-name">First Name</label>
                <input id="first-name" type="text" class="form-control" placeholder="First Name">
            </div>
            <div class="form-group col-md-6">
                <label for="last-name">Last Name</label>
                <input id="last-name" type="text" class="form-control" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">@</div>
                </div>
                <input id="email" type="email" class="form-control" placeholder="name@example.com">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="subject">Subject</label>
                <input id="subject" type="text" class="form-control" placeholder="Subject">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" placeholder="Message" rows="5"></textarea>
            </div>
        </div>
        <button class="btn modal_action_btn" type="submit">SUBMIT</button>
    </form>
</section>