<div class="slide">
    <section class="content" th:include="pages/main-features/thai-dish" ></section>
</div>
<div class="slide">
    <section class="content" th:include="pages/main-features/ingredient"></section>
</div>
<div class="slide">
    <section class="content" th:include="pages/main-features/nutrition"></section>
</div>
