<h1 class="page-main-subject font-logo">Thai Dish</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-list font-dark"></i>
                        <span class="caption-subject bold uppercase"> THAI DISH</span>
                        <span class="caption-helper">"Thai Dish" Management</span>
                    </div>
                    <div class="actions">
                        <button class="btn btn-success" onclick='openModal("modal-thai-dish-add","Add Thai Dish")'><i
                                class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div id="thai-dish-content" class="portlet-body">
                    <table id="thai-dish" class="data-table table">
                        <thead>
                        <tr>
                            <th width="30%">Picture</th>
                            <th width="20%">Dish Name</th>
                            <th width="40%">Dish Description</th>
                            <th width="10%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dish : ${dishList}">
                            <td><img width="150px" height="100px" th:src="${dish.file.fileDownloadUrl}" style="object-fit: cover"/></td>
                            <td th:text="${dish.dishNameEn}"></td>
                            <td class="text-left" th:text="${dish.dishDescriptionEn}"></td>
                            <td class="text-center">
                                <button title="View" th:onclick="'showModalViewThaiDish(\'' + ${dish.dishId} + '\');'" class="btn btn-sm btn-primary mx-auto" type="button"><i class="fas fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/assets/scripts/thai-dish-crud.js}"></script>

