<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Recommending Thai Food Ingredient Substitutions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content="Peerapat Pitak"/>
    <meta name="description" content="RECOMMENDING THAI FOOD INGREDIENT SUBSTITUTIONS"/>
    <meta name="keywords" content="RECOMMENDING THAI FOOD INGREDIENT SUBSTITUTIONS"/>
    <meta name="Resource-type" content="Document"/>

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>

    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/bootstrap-4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/fontawesome-5.13.0/css/all.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/fullpage-3.0.8/css/fullpage.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/toastr-2.1.4-7/css/toastr.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/bootstrap-fileinput-4.3.7/css/fileinput.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/datatables-1.10.21/datatables.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/alertify-1.13.1/css/alertify.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/alertify-1.13.1/css/themes/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/select2-4.0.13/css/select2.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/sweetalert2-10.14.1/css/sweetalert2.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/vendors/metronic/components.css}"/>

    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/commons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/fullpage-custom.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/page-home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/page-main-features.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/styles/contact-us.css}">

    <script type="text/javascript" th:src="@{/assets/vendors/jquery-3.5.1/js/jquery-3.5.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/vendors/select2-4.0.13/js/select2.full.js}"></script>
    <script type="text/javascript" th:src="@{/assets/scripts/common.js}"></script>

</head>
<body>
<div id="header">
    <figure id="logo-pic">&nbsp;</figure>
    <p id="logo-text" class="font-logo">Recommending Thai Food Ingredient Substitutions</p>
    <ul id="menu">
        <li data-menuanchor="home"><a href="#home">Home</a></li>
        <li data-menuanchor="mainFeatures"><a href="#mainFeatures">Main Features</a></li>
        <li data-menuanchor="thaiDish"><a href="#thaiDish">Thai Dish</a></li>
        <li data-menuanchor="contactUs"><a href="#contactUs">Contact Us</a></li>
    </ul>
</div>
<figure th:replace="components/modal"></figure>
<div id="fullpage">
    <div class="section home" th:include="pages/home"></div>
    <div class="section main-features" th:include="pages/main-features"></div>
    <div class="section thai-dish" th:include="pages/thai-dish"></div>
    <div class="section contact-us" th:include="pages/contact-us"></div>
</div>
<script type="text/javascript" th:src="@{/assets/vendors/bootstrap-4.4.1/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendors/fullpage-3.0.8/js/fullpage.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendors/fontawesome-5.13.0/js/all.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendors/toastr-2.1.4-7/js/toastr.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendors/bootstrap-fileinput-4.3.7/js/fileinput.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendors/datatables-1.10.21/datatables.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendors/alertify-1.13.1/js/alertify.js}"></script>
<script type="text/javascript" th:src="@{/assets/vendors/sweetalert2-10.14.1/js/sweetalert2.all.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/scripts/fullpage-custom.js}"></script>

</body>
</html>